@tailwind base;
@tailwind components;
@tailwind utilities;

/* GENERAL STYLES RESET DEFAULT */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* CSS VARIABLES */
:root {
  --light-mode: #091638;
  --dark-mode: #F3F3FA;

  --header-text-light-color: #141B2D;
  --header-text-dark-color: #F3F3FA;
}

