@tailwind base;
@tailwind components;
@tailwind utilities;

/* GENERAL STYLES RESET DEFAULT */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* CSS VARIABLES */
:root {
  --dark-blue: #091638;
  --light-blue: #F3F3FA;
}

