@tailwind base;
@tailwind components;
@tailwind utilities;

/* GENERAL STYLES RESET DEFAULT */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* Css Variables */
:root {
  --light-mode: #091638;
  --dark-mode: #F3F3FA;

  --header-text-light-color: #141B2D;
  --header-text-dark-color: #F3F3FA;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}